<%- include('partials/head') %>

<body>

    <!-- display all the tweets -->
    <h1 class="text-center">Trending</h1>

    <ul>
        <% for(let t of tweets) {%>
            <li> <%= t.tweet %> - <b> <%= t.username %> </b> </li>
            <% if (t.image) { %>
              <img src="/uploads/<%= t.image %>" alt="Tweet Image" width="900" height="800">
            <% } %>
        <% } %>
    </ul>

    <a class="ms-5 btn btn-warning" href="newtweet" role="button">New Tweet</a>

<%- include('partials/footer') %>
